.idea/
target/
*.iml
.settings/
.project
.classpath
*.vscode
.mvn/
reports/
docker-compose.override.yml
src/test/resources/data/as.properties
src/test/resources/data/ow.properties
src/test/resources/data/data.properties